@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
$Font-Poppins: 'Poppins', sans-serif;

//Primary
$Red: hsl(0, 100%, 74%);
$Red-shadow: hsl(0, 100%, 74%, 0.50);
$Green: hsl(154, 59%, 51%);
$Green-shadow: hsl(154, 59%, 51%, 0.50);

//Accent
$Blue: hsl(248, 32%, 49%);
$Blue-shadow:hsl(248, 32%, 49%, 0.50);

//Neutral
$Dark-Blue: hsl(249, 10%, 26%);
$Grayish-Blue: hsl(246, 25%, 77%);